---
regenerate: true
title: "Godot 4.7 Release"
tagline: "Lights, Camera, Action!"
meta:
    title: "Godot 4.7 Release: Lights, Camera, Action!"
    description: "[insert release short description here]"
version: 4.7
authors_list: "name,1|username,2|username,3|username,4|username,5"
draft: true
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.meta.description}}" />
    <title>{{ page.title }}</title>

    <meta name="title" content="{{page.meta.title}}">
    <meta name="description" content="{{page.meta.description}}">

    <meta property="og:type" content="website">
    <meta property="og:title" content="{{page.meta.title}}">
    <meta property="og:description" content="{{page.meta.description}}">
    <meta property="og:image" content="{{ site.baseurl }}/storage/releases/{{version}}/images/og_image.jpg">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/releases/main.css">
</head>
<body>

    {% assign general = site.data.release_4_7.general %}

    {% if page.draft %}
        <div id="draft-warning">
            Important: This is a draft page; its content is not final. Please do not use it in its current form as official documentation for writing texts, creating videos, etc.
        </div>
    {% endif %}

    <nav id="toc-nav">
        <input type="checkbox" name="" id="toc-toggle">
        <div class="links">
            <a href="#section-highlights">Highlights</a>
            <a href="#section-general">General</a>
            <a href="#section-system">Systems</a>
            <a href="#section-platforms">Platforms</a>
            <a href="#section-scripting">Scripting</a>
            <a href="#section-epilogue">Epilogue</a>
        </div>
        <label class="icon" for="toc-toggle">
            <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 5L7.99999 11L14 5" stroke-width="2.5"/>
            </svg>
        </label>
    </nav>

    <section class="hero">
        <div id="three-container" style="z-index: 0; position: absolute; width: 100%; height: 100%;">
            <canvas id="three-canvas" style="position: absolute; width: 100%; height: 100%;"></canvas>
            <div class="loader">
                <span>loading</span>
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" >
                    <path d="M22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.7612C13.9996 2.00433 11.9889 1.80629 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92893 4.92893C3.53041 6.32746 2.578 8.10929 2.19215 10.0491C1.80629 11.9889 2.00433 13.9996 2.7612 15.8268C3.51808 17.6541 4.79981 19.2159 6.4443 20.3147C8.08879 21.4135 10.0222 22 12 22" stroke="white" stroke-opacity="0.4"/>
                    <path d="M12 22C13.3132 22 14.6136 21.7413 15.8268 21.2388C17.0401 20.7362 18.1425 19.9997 19.0711 19.0711C19.9997 18.1425 20.7362 17.0401 21.2388 15.8268C21.7413 14.6136 22 13.3132 22 12" stroke="white"/>
                </svg>
            </div>
        </div>

        <div class="content">
            <div class="header">
                <h1>{{ page.title }}</h1>
                <h2>{{ page.tagline }}</h2>
            </div>
            <a href="/download/" class="btn blue">Download Godot {{page.release_version_number}}</a>
        </div>
    </section>

    <div class="preamble">
        {{general.introduction.text | markdownify}}
    </div>

    <main class="flex flex-col items-center" style="position: relative;">
        <div id="donation-card">
            <div>
                Godot is made possible by <span class="color">your donations</span>
            </div>
            <a href="https://fund.godotengine.org/" class="btn red">Join the Development Fund</a>
        </div>
        <section id="section-highlights" class="section-header">
            <h3 class="title">Highlights</h3>
        </section>
        <section class="section-body">

            <!-- Highlights Cards -->
            
            {% include_relative _components/card.html name="rect_area_light" size="large" %}

            <div class="sub-grid">
                {% include_relative _components/card.html name="hdr_support" order="reverse" %}
                {% include_relative _components/card.html name="drawable_textures" %}
            </div>

            <div class="sub-grid">
                {% include_relative _components/card.html name="asset_store_update" order="reverse"%}
                {% include_relative _components/card.html name="shader_previews" %}
            </div>

        </section>

        <section id="section-general" class="section-header">
            <h3 class="title">General</h3>
        </section>

        <section class="section-body">

            <h4 class="sub-section">Core</h4>

            <!-- Core Cards -->

            <h4 class="sub-section">Documentation</h4>

            <!-- Documentation Cards -->

            <h4 class="sub-section">2D</h4>

            <!-- 2D Cards -->

            <h4 class="sub-section">3D</h4>

            <!-- 3D Cards -->

            <h4 class="sub-section">GUI</h4>

            <!-- GUI Cards -->

            <h4 class="sub-section">Editor</h4>

            <!-- Editor Cards -->

        </section>

        <section id="section-system" class="section-header">
            <h3 class="title">Systems</h3>
        </section>

        <section class="section-body">

            <h4 class="sub-section">Animation</h4>

            <!-- Animation Cards -->

            <h4 class="sub-section">Export</h4>

            <!-- Export Cards -->

            <h4 class="sub-section">Input</h4>

            <!-- Input Cards -->

            <h4 class="sub-section">Import</h4>

            <!-- Import Cards -->

            <h4 class="sub-section">Rendering</h4>

            <!-- Rendering Cards -->

            <h4 class="sub-section">Internationalization</h4>

            <!-- Internationalization Cards -->


            <h4 class="sub-section">XR</h4>

            <!-- XR Cards -->

        </section>

        <section id="section-platforms" class="section-header">
            <h3 class="title">Platforms</h3>
        </section>

        <section class="section-body">

            <h4 class="sub-section">Android</h4>

            <!-- Android Cards -->

            <h4 class="sub-section">Windows</h4>

            <!-- Windows Cards -->

            <h4 class="sub-section">Physics</h4>

            <!-- Physics Cards -->

        </section>

        <section id="section-scripting" class="section-header">
            <h3 class="title">Scripting</h3>
        </section>

        <section class="section-body">

            <h4 class="sub-section">GDExtension</h4>

            <!-- GDExtension Cards -->

            <h4 class="sub-section">GDScript</h4>

            <!-- GDScript Cards -->

        </section>

        <section id="section-epilogue" class="section-header">
            <div class="wrap">
                <img src="{{ site.baseurl }}/storage/releases/team_work.webp" alt="">
                <h3 class="title">{{ general.conclusion.title}}</h3>
                {{ general.conclusion.text | markdownify}}
            </div>
        </section>

        <section class="section-body">
            <div class="contributors-wall">
                {% assign contributors = page.authors_list | split: "|" %}
                {% for contributor in contributors %}
                    {% assign contributor_data = contributor | split: "," %}
                    {% assign handle = contributor_data[0] %}
                    {% assign scale = contributor_data[1] %}
                    <a class="scale-{{scale}}"
                    href="https://github.com/godotengine/godot/pulls?q=author%3A{{handle}}+is%3Apr+milestone%3A{{page.release_version_number}}+is%3Aclosed+is%3Amerged+">
                        {{ handle }}
                    </a>
                {% endfor %}
            </div>

            {% assign end_message = general.end_message %}
            <div class="quote">
                <div class="text">
                    {{ end_message.text | markdownify}}
                </div>
                <div class="author">
                    <a href="{{ end_message.author.link }}"">
                        {{ end_message.author.name }}
                    </a>
                    <span class="role">
                        {{ end_message.author.role }}
                    </span>
                </div>
            </div>
        <section>

        {% assign credits = general.credits %}
        <section id="credits">
            <h4 class="title">{{credits.title}}</h4>
            <div class="content">
                {% for item in credits.list %}
                        <h5 class="item-title">{{item.text}}</h5>
                    {% if item.by %}
                        <div class="by">{{item.by | markdownify}}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </section>

    </main>

    <script src="{{ site.baseurl }}/assets/js/releases/toc_nav.js" defer></script>
    <script src="{{ site.baseurl }}/assets/js/releases/video_player.js" defer></script>
    <script src="{{ site.baseurl }}/assets/js/releases/media_compare.js" defer></script>

    <script type="module">
        import { ReleaseBanner } from "{{ site.baseurl }}/assets/js/releases/banner_update.js";
        import { MakeLightrayMat } from "{{ site.baseurl }}/assets/js/releases/lightray_mat.js";
        import { mapRange, clamp } from "{{ site.baseurl }}/assets/js/releases/math_util.js";
        import * as THREE from "{{ site.baseurl }}/assets/js/modules/three.module.min.js";

        let banner = new ReleaseBanner("#three-container", "#three-canvas");
        let blueLightRay = MakeLightrayMat("#4bf6ff");
        let cameraAnchor = undefined;
        let bgMesh = undefined;
        let sceneRoot = undefined;
        let scrollPercent = 0.0;
        let mouseLerped = banner.mouse.clone();

        // Light setup
    
        const ambientLight = new THREE.AmbientLight(0xFFFFFF, 2.0);
        banner.scene.add(ambientLight);

        const directionalLight = new THREE.DirectionalLight(0xFFFFFF, 8.5);
        directionalLight.position.set(0.5, 1.0, 1.0);
        directionalLight.target.position.set(0.0, 0.0, 0.0);
        directionalLight.castShadow = true;
        directionalLight.shadow.mapSize.width = 1024;
        directionalLight.shadow.mapSize.height = 1024;

        directionalLight.shadow.intensity = 0.8;
        directionalLight.shadow.camera.top = 20.0;
        directionalLight.shadow.camera.bottom = -10.0;
        directionalLight.shadow.camera.left = 15.0;
        directionalLight.shadow.camera.right = -15.0;
        directionalLight.shadow.camera.far =  20.0;
        directionalLight.shadow.camera.near =  0.0;
        directionalLight.shadow.normalBias = 0.01;
        directionalLight.shadow.bias = 0.01;

        banner.scene.add(directionalLight);
        banner.scene.add(directionalLight.target);

        const backLight = new THREE.DirectionalLight(0xb5e3ff, 4.0);
        backLight.position.set(-1.0, -1.0, -1.0);
        backLight.target.position.set(0.0, 0, 0);
        banner.scene.add(backLight);
        banner.scene.add(backLight.target);

        function setBgColor() {
            if (!bgMesh) return;
            /*
            bgMesh.material.color =
                (banner.useDarkTheme ? 
                new THREE.Color("hsl(200, 10.0%, 10.0%)") :
                new THREE.Color("hsl(200, 100.0%, 95.0%)"));
            */
            bgMesh.material.color = new THREE.Color("hsl(200, 10.0%, 10.0%)");
        }

        function updateComposition() {
            if (banner.viewSize.x == 0.0 && banner.viewSize.y == 0.0) return;
            
            let ratio = clamp(banner.viewSize.x / banner.viewSize.y, 1.0, 2.0);
            let ratioX = mapRange(ratio, 1.0, 2.0, 0.0, 1.0);

            if (cameraAnchor) {
                cameraAnchor.position.y = 2.0;

                banner.sceneCamera.position.z = 2.0;
                banner.sceneCamera.position.set(0.0, 0.0, 2.0)
                banner.sceneCamera.lookAt(new THREE.Vector3(0.0, 1.0, 0.0));
            }

            if (sceneRoot) {
                sceneRoot.position.z = mapRange(ratioX, 0.0, 1.0, -12.0, -10.0);
                sceneRoot.position.x = mapRange(ratioX, 0.0, 1.0, 0.5, 5.0);
                sceneRoot.position.y = mapRange(ratioX, 0.0, 1.0, -3.0, -2.);
                sceneRoot.rotation.y = mapRange(ratioX, 0.0, 1.0, -Math.PI * 0.1, -Math.PI * 0.18);
            }

        }

        banner.process = function(delta){
            if (this.sceneCamera){
                mouseLerped.lerp(this.mouse, 10.0 * delta);
                this.sceneCamera.position.x = (mouseLerped.x - 0.5) * 1.0;
                this.sceneCamera.position.y = -(mouseLerped.y - 0.5) * 1.0 - scrollPercent * 1.5;
            }
            blueLightRay.uniforms.uTime.value = window.performance.now();
        }

        // Load and inject custom material on scene load.
        banner.loadScene("{{ site.baseurl }}/assets/three_banners/three_banner_4.7.glb");


        banner.events.addEventListener( "ready", () => {
            banner.scene.traverse((child)=>{
                if (child.name.toLowerCase().includes("lightray")){
                    child.material = blueLightRay;
                }
                if (child instanceof THREE.Mesh) {
                    if (child.name.toLowerCase().includes("plush")) child.castShadow = true;
                    if (child.name.toLowerCase().includes("receiveshadow")) child.receiveShadow = true;
                    if (child.name.toLowerCase().includes("castshadow")) child.castShadow = true;
                    if (child.name == "WorldSphereMesh") bgMesh = child;
                }
                if (child.name == "SceneHolder") sceneRoot = child;
                if (child.name == "CameraAnchor") cameraAnchor = child;
            });
            // Set bg color
            setBgColor();
            updateComposition();
        });

        banner.events.addEventListener( "colorSchemeChanged", setBgColor);
        banner.events.addEventListener("resized", updateComposition);
        banner.events.addEventListener("visibilityChanged", (event) => {
            if (event.visible) updateComposition();
        });

        window.addEventListener("scroll", (event) => {
            scrollPercent = window.scrollY / banner.viewSize.y;
        });


    </script>
</body>
</html>
